version: "3.9"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8080:8080"
    volumes:
      - jenkins_home:/var/jenkins_home

  collector:
    build: ./collector
    container_name: collector
    ports:
      - "8000:8000"
    depends_on:
      - jenkins
    environment:
      - JENKINS_URL=http://jenkins:8080

volumes:
  jenkins_home:
